doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='lib/myCode.js')
  body
   h1 IS373 Final Exam
   br
   br
   p Please customize your purchase.
   span#laptopPrice
    $1000
   br
   br
   h2 Screen Size
   form
    input(type='radio' name='screen' value='0') 11 Inches - Included
    input(type='radio' name='screen' value='200')15 Inches - +$200

