doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='lib/myCode.js')
  body
   h1 IS373 Final Exam
   br
   br
   p Please customize your purchase.
   span#laptopPrice $1000
   br
   br
   h2 Screen Size
   input(type='radio' name='screen' value='{"screenSize" : "11 Inches", "price" : 0}')
   span 11 Inches - Included
   br
   input(type='radio' name='screen' value='{"screenSize" : "15 Inches", "price" : 200}')
   span 15 Inches - $200
   br
   h2 Hard Drive Size
   input(type='radio' name='drive' value='0')
   span 11 Inches - Included
   br
   input(type='radio' name='drive' value='200')
   span 15 Inches - $200
   br
   h2 Hard Drive Size

