doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='lib/jquery.js')
    script(src='lib/myViewCode.js')
  body
   h1 IS373 Final Exam
   br
   br
   p View Quotes
   div#divQuotes
